@charset "utf-8";
html {
  scroll-behavior: smooth;
}

body {
    background-color: #FFFDE7;
    
}
header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
header nav ul {
    display: flex;
    justify-content: center;
}
header nav ul li {
    margin: 0 40px;
}
header nav ul li a {
    font-family: 'Chicle', serif;
    font-size: 45px;
    color: #F48FB1;
    letter-spacing: 0.06em;
    transition: color 0.3s ease; /* 0.3秒かけてふわっと変える設定 */
}
header nav ul li a:hover {
    color: #E91E63; /* マウスを乗せた時の色（少し濃いピンク） */
}
.menu-icon {
    display: none;
}
/* チェックボックスは常に非表示です */
.GMenu .menu-btn {
  display: none;
}


/*ローディング部分*/
#Loading {
    transition: all 1s;
    background-color: #FFF;
    position: fixed;
    z-index: 999;
    inset: 0;
    display: grid;
    place-items: center;
}
#Loading img {
    width: 50%;
    animation: waveship 2s linear infinite alternate;
}
.LoadingImg {
    text-align: center; 
    width: 100%;
}
@keyframes waveship {
    0% {
        transform: translateX(-5px) translateY(-10px) rotate(-5deg);
    }
    100% {
        transform: translateX(5px) translateY(10px) rotate(5deg);
    }
}
.LoadEnd {
    opacity: 0;
    visibility: hidden;
}


/*TOPページのメイン画像*/
.TopImage {
    width: 100%;          /* 画像の横幅に合わせる */
    margin: 0 auto;         /* 真ん中寄せ */
    position: relative;
}
.TopImage img {
    display: block;
    margin: 0 auto 20px auto;          /* 左右の真ん中寄せ */
    border-radius: 50%;
    filter:drop-shadow(0 10px 25px rgba(0,0,0,0.18));

    
    /* アニメーションの設定 */
    animation-name: spin;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/*h1のタイトル*/
.BlairTitle {
    font-family:'Truculenta', sans-serif;
    font-size: 75px;
    color: #F9A825;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .07em;
    background-image: url(../img/Flag.png), url(../img/Flag.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 
        calc(40% - 90px) bottom, 
        calc(53% + 123px) bottom;

    /* 画像のサイズ調整（お好みで） */
    background-size: 300px auto, 300px auto;

    /* 画像を表示するスペースを確保 */
    padding-bottom: 80px;
}
/*h1文字調整*/
.BlairTitle span {
    display: inline-block; /* 傾けるために必要 */
    animation-name: jump;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes jump {
  0%, 20%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-15px); /* ここで上に動く */
  }
}
/*h1のアニメーション*/
.BlairTitle span:nth-child(1)  { animation-delay: 0.1s; }
.BlairTitle span:nth-child(2)  { animation-delay: 0.2s; }
.BlairTitle span:nth-child(3)  { animation-delay: 0.3s; }
.BlairTitle span:nth-child(4)  { animation-delay: 0.4s; }
.BlairTitle span:nth-child(5)  { animation-delay: 0.5s; }
.BlairTitle span:nth-child(6)  { animation-delay: 0.6s; }
.BlairTitle span:nth-child(7)  { animation-delay: 0.7s; }
.BlairTitle span:nth-child(8)  { animation-delay: 0.8s; }
.BlairTitle span:nth-child(9)  { animation-delay: 0.9s; }
.BlairTitle span:nth-child(10)  { animation-delay: 1.0s; }
.BlairTitle span:nth-child(11)  { animation-delay: 1.1s; }
.BlairTitle span:nth-child(12) { animation-delay: 1.2s; }
.BlairTitle span:nth-child(13)  { animation-delay: 1.3s; }
.BlairTitle span:nth-child(14)  { animation-delay: 1.4s; }
.BlairTitle span:nth-child(15) { animation-delay: 1.4s; } 
.BlairTitle span:nth-child(16) { animation-delay: 1.5s; } 
.BlairTitle span:nth-child(17) { animation-delay: 1.6s; }
.BlairTitle span:nth-child(18) { animation-delay: 1.7s; } 
.BlairTitle span:nth-child(19) { animation-delay: 1.8s; } 

.space {
  width: 20px;
}


/*AbiutThiSite部分*/

#AboutThisSitePavilion {
    display: grid;
    grid-template-rows:minmax(360px, auto) 4px minmax(360px, auto);
    grid-template-columns: 40% 60%;
    background-color: #FFF176;
    width: 100%;
}
.AboutThisSitePavilionTitle {
    font-family:'Truculenta', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .07em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
}

.IntroductionBox {
    font-family: 'Truculenta', sans-serif;
    font-size: 20px;
    letter-spacing: .07em;
    line-height: 1.6;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    padding: 0 10px 0;   
}

.LongLine {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background-color: #FB8C00;
  height: 2px;
  width: 70%;
  margin: auto;
}


.SkillsBox {
    background-color: #FFF176;
    font-family: 'Truculenta', sans-serif;
    font-size: 20px;
    letter-spacing: .07em;
    line-height: 1.6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3 / 4;
    padding: 0 10px 0;  

}
.SkillsTitle {
    font-weight: bold;
    font-family: 'Kiwi Maru', serif;
    font-size: 40px;
    text-align: center;
    background-color: #FFF176;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3 / 4;

}





/*ProfileBox部分*/
#ProfilePavilion {
    background-color: #4DD0E1;
    padding: 20px;
}
h3 {
    font-family:'Truculenta', sans-serif;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .07em;
    margin: auto;
}
.ProfileImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}
.ProfileImage {
    width: 175px;
    height: 175px;
    margin: 15px auto;
}
.ProfileBox {
    text-align: center;
    margin: auto;
}


/*Gallery部分*/
h4 {
    font-family:'Truculenta', sans-serif;
     color: #F9A825;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .07em;
    margin-bottom: 30px;
}
.CardWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;

}

.CardLink {
  width: 350px;
  height: auto;
  border: #1E88E5 1px solid; 
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 4px 0 #1E88E5; 
}
.CardLink:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

.PortfolioCardLink {
  display: block;    
  margin-top: 10px;
  transition: transform 0.5s;
  text-align: center;
  color: #555151;
}
.PortfolioCardLink:hover {
  transform: scale(1.1);
  color: #689F38;
}


.CardLink img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  

}

.CardLinkTitle1,
.CardLinkTitle2,
.CardLinkTitle3 {
  text-align: center;
  font-size: 30px;
  font-family: 'Chicle', serif;
  color: #81C784;
}
.CardLinkText1,
.CardLinkText2 {
  font-size: 20px;
  color: #3d3939;
  text-align: center;
  margin-top: 12px;
  letter-spacing: .04em;
}

/*Skills部分*/
.skillFlexContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}

.skillName {
  font-weight: bold;
  color: #333;
}

.chartView {
    border: solid 2px #689F38;
}
/*パララックス効果部分*/

#skillPavilion {
  margin-bottom: 0px;
}

.parallaxSpacer {
  height: 480px;
  width: 100%;
  background-image: url('../img/worldmap.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}





/*Contact部分*/
h5 {
    font-family:'Truculenta', sans-serif;
     color: #F9A825;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .07em;
}

.Form {
    width: 600px;
    margin: 0 auto;
}
input[type="text"],
input[type="email"],
textarea {
    border: 3px solid #FF5252;
    border-radius: 8px;
    background-color: #FFF;
    width: 100%;
    
    margin-top: 5px;
    padding: 4px 8px;
}
textarea {
    height: 148px;
    margin-bottom: 30px;
}
form > p {
    line-height: 1.4;
    margin-bottom: 20px;
}
.FormFont {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
}
.SubmitBtn {
    text-align: center;
}
input[type="submit"] {
    background-color: #1E88E5;
    color: #FFF;
    padding: 18px 80px;
    font-family: 'Truculenta', sans-serif;
    font-size: 25px;
    letter-spacing: .07em;
    border-radius: 7%;
}
input[type="submit"]:hover {
    background-color: #1565C0;
    margin-left: 20px;
    transition-property: background-color,margin-left;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 0ms;
}

.submitBtn {
    position: fixed; 
    bottom: 50px; right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 30, 99, 0.8);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.last {
    padding: 50px;
}

/*フッター部分*/
.Footer {
    font-family: 'Chicle', serif;
    letter-spacing: .07em;
    background-color: #F8BBD0;
    color: #FFF;
    padding: 14px 10px 20px;
    text-align: center;
}


/*メディアクエリ部分*/
@media screen and (max-width:768px) {



    header {
    display: block;
    position: relative;
        height: 40px; 
        width: 100%;
        background-color: #FFFDE7;
}
    .menu-icon {
        display: block; /* 三本線を表示 */
    }
    header nav ul {
        display: block; /* PC用の flex を解除 */
    }


.BlairTitle {
    font-family:'Truculenta', sans-serif;
    font-size: 40px;
    color: #F9A825;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .07em;
    display: block; /* もしflexを使っていたらblockに上書き */
    background-image: url(../img/Flag.png);
    background-position: bottom center; /* 中央に配置 */
    background-size: 200px auto;        /* スマホで見やすいサイズに調整 */
      /* 文字が重なりすぎる場合は余白を調整 */
    padding-bottom: 60px; 
}
.BlairTitle .space {
        display: block;   /* インラインからブロックに変更（これで改行される） */
        width: 100%;      /* 横幅いっぱいを占有させる */
        height: 10px;     /* 行間を空けたい場合はここで調整（0でもOK） */
        content: "";      /* 念のため中身を空に固定 */
}
.space {
  width: 0;
}
.TopImage img {
    width: 300px;
}


#AboutThisSitePavilion {
    display: flex;          
    flex-direction: column; 
    height: auto;
}

.AboutThisSitePavilionTitle {
    font-family:'Truculenta', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #FFF176;
    line-height: 1.2;
    letter-spacing: .07em;
    height: auto;
    display: block;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    order: 1;
}

.IntroductionBox {
    background-color: #FFF176;
    font-family: 'Truculenta', sans-serif;
    font-size: 15px;
    letter-spacing: .07em;
    line-height: 1.6;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 20px 15px;
    display: block;
    box-sizing: border-box;
    order: 2; 
}

.LongLine {
  background-color: #FB8C00;
  height: 2px;
  width: 70%;
  margin: auto;
  order: 3;
}

.SkillsBox {
    background-color: #FFF176;
    font-family: 'Truculenta', sans-serif;
    font-size: 15px;
    letter-spacing: .07em;
    line-height: 1.6;
    text-align: center;
    padding: 0; 
    display: block;
    height: auto;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    order: 5;
}
.SkillsTitle {
    font-weight: bold;
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    text-align: center;
    background-color: #FFF176;
    padding: 20px 15px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: block;
    order: 4;

}

/*Gallery部分*/
.CardWrapper {
  display: block;
  margin: auto;
}

.CardLink {
  width: 300px;
  height: 350px;
  border: #1E88E5 1px solid; 
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 4px 0 #1E88E5; 
  margin: 0 auto 20px;
}

.card-link:active {
    transform: scale(0.96); 
    transition: 0.1s;
    background-color: rgba(0,0,0,0.05); 
}
.PortfolioCardLink {
  display: block;    
  width: 100%;
  height: 100%;
}
.CardLink:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

.CardLink img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  object-position: center;
  

}

.CardLinkTitle1,
.CardLinkTitle2 {
  text-align: center;
  font-size: 20px;
  font-family: 'Chicle', serif;
  color: #81C784;
}
.CardLinkText1,
.CardLinkText2 {
  font-size: 15px;
  color: #3d3939;
  text-align: center;
  margin-top: 15px;
}
/*skill部分*/
.skillFlexContainer {
    flex-direction: column; 
    gap: 30px;
  }

  .chartView {
    width: 100%;      
    min-width: unset; 
    text-align: center; 
  }

  .chartView img {
    width: 90%;       
    max-width: 400px; 
    height: auto;
    margin: 0 auto;
  }

/*contact部分*/
.Form {
    width: 100%;
    text-align: center;
}
.FormFont {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}
input[type="text"],
input[type="email"],
textarea {
    display: block;
    border: 3px solid #FF5252;
    border-radius: 8px;
    background-color: #FFF;
    width: 80%;
    margin: 10px auto;
}



/* ハンバーガーメニュー
メニューを画面上部に固定表示しています */
.GMenu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
/* メニューアイコンを画面右上に固定しています */
.GMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
/* メニューアイコン（三本線）の真ん中の線です */
.GMenu .menu-icon .navicon {
  background: #ffc107; /* 色は自由に変更可能です */
  display: block;
  height: 2px; /* 太さ */
  width: 31px; /* 長さ */
  position: relative;
  transition: background .4s ease-out; /* 形が変わる時のアニメーション */
}
/* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
.GMenu .menu-icon .navicon::before,
.GMenu .menu-icon .navicon::after {
  background: #ffc107; /* 色は自由に変更可能です */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; /* 形が変わる時のアニメーション */
  width: 100%;
}
.GMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
.GMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
/* 表示されるメニューです */
.GMenu .Menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; /* ★最初は高さを0にして非表示状態に */
  transition: max-height .6s; /* 表示されるときのアニメーション */
  text-align: center;
}
/* メニュー部分のデザインです */
.GMenu .Menu li:first-of-type {
  padding-top: 50px;
}
.GMenu .Menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.GMenu .Menu li a:hover {
  background-color: #f4f4f4;
}
/* チェックボックスは常に非表示です */
.GMenu .menu-btn {
  display: none;
}
/* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
.GMenu .menu-btn:checked ~ .Menu {
  max-height: 600px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
  transition: max-height .6s;
}
/* メニューボタンの中央の線を非表示に */
.GMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

/* メニューボタンの上下の線を45度傾けて✕印を作ります */
.GMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.GMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
}
